<div>
  <form method="POST" action="/login">
    <input type="email" id="username" name="username" value = "Username" required></input>
    <input type="password" name="password" value= "password" required></input>
    <button type="submit" class="btn btn-primary">login</button>
</form>
